.EditorPick {
    font-family: 'Montserrat', sans-serif;
}

.editor_title {
    color: #C7447A;
    font-family: 'Playfair Display', serif;
}

.editor_slogan {
    color: #2B2B2B;
    font-weight: 700;
}